* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* Font Custom */
@font-face {
  font-family: allfont;
  src: url(https://kampus-merdeka-software-engineering.github.io/FE-Jayapura-2/Assets/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: font-desc-foot;
  src: url(https://kampus-merdeka-software-engineering.github.io/FE-Jayapura-2/Assets//Montserrat-Medium.ttf);
}

@font-face {
  font-family: font-logo;
  src: url(https://kampus-merdeka-software-engineering.github.io/FE-Jayapura-2/Assets//RocaOne-Bold.ttf);
}

body {
  height: 100vh;
  background-color: #f6f4f3;
  font-family: allfont;
}

/* Navigation Bar */
.header {
  position: fixed;
  width: 100%;
  padding: 10px;
  background-color: #f6f4f3;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  align-items: center;
}

/* Button Navigation Bar */
.navbar a {
  float: left;
  display: block;
  font-size: 18px;
  font-family: "allfont";
  color: #786337;
  text-decoration: none;
  font-weight: 500;
  margin-left: 20px;
  margin-right: 15px;
  border: 0;
}

/* Button Navigation Bar */
.navbar button {
  float: left;
  display: block;
  font-size: 18px;
  font-family: "allfont";
  color: #786337;
  text-decoration: none;
  font-weight: 500;
  margin-left: 20px;
  margin-right: 15px;
  border: 0;
}

.navbar button img {
  width: 30px;
  height: 30px;
  margin-bottom: -5px;
  border: none;
}

.navbar .logout {
  width: 20px;
  height: 20px;
  color: #786337;
  text-align: center;
}

/* Animation Button Navigation Bar */
.navbar button.active,
.navbar button:hover {
  font-weight: bolder;
  color: #c7a55b;
}

/* Logo */
.logo {
  display: inline-block;
  float: left;
  width: 210px;
  height: 70px;
}

/* Logo Mobile */
.logo1 {
  display: none;
}

/* List Mobile */
.header .navbarbutton1 {
  color: #786337;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: none;
  border: none;
  display: none;
}

/* Section Carousel */
.image img {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
}
/*Drop Down Menu */
.dropdown-menu {
  position: fixed;
  margin-top: 40px;
  display: none;
  position: absolute;
  top: 40px;
  height: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  background-color: #786337;
  overflow: hidden;
  z-index: 1001;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/*Drop Down Menu */
.dropdown-menu.open {
  position: fixed;
  width: 100%;
  height: 210px;
}

/*Drop Down Menu */
.dropdown-menu a {
  padding: 0.7rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Drop Down Menu */
.dropdown-menu .navbarbutton:hover {
  background-color: #cd7416e8;
}

section {
  padding: 100px 0px 50px 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  background: none;
  animation: fadeInUp 2s ease;

  position: relative;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f6f4f3;
}

#container {
  min-height: 100%;
  position: relative;
}

/* Font Custom */
@font-face {
  font-family: allfont;
  src: url(https://kampus-merdeka-software-engineering.github.io/FE-Jayapura-2/Assets/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: font-desc-foot;
  src: url(https://kampus-merdeka-software-engineering.github.io/FE-Jayapura-2/Assets//Montserrat-Medium.ttf);
}

body {
  height: 100vh;
  background-color: #f6f4f3;
  font-family: allfont;
}
header {
  display: grid;
  grid-template-columns: 1fr 50px;
  margin-top: 00px;
}
header .shopping {
  position: relative;
  text-align: right;
}
header .shopping img {
  width: 30px;
  height: 30px;
}
header .shopping span {
  background: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  top: -9px;
  left: 80%;
  padding: 3px 8px;
}
.under img {
  width: 80%;
  height: auto;
}
.col-sm-12 span {
  color: #fff;
}
@media screen and (min-width: 769px) and (max-width: 1278px) {
  .under img {
    width: 80%;
    height: auto;
  }
  .col-sm-12 span {
    color: #fff;
    font-size: 20px;
  }
}
@media screen and (min-width: 565px) and (max-width: 768px) {
  .under img {
    width: 80%;
    height: auto;
  }
  .col-sm-12 span {
    color: #fff;
    font-size: 18px;
  }
}
@media screen and (min-width: 280px) and (max-width: 565px) {
  .under img {
    width: 80%;
    height: auto;
  }
  .col-sm-12 span {
    color: #fff;
    font-size: 15px;
  }
}

/* Footer */
.footer {
  line-height: 1.5;
  font-family: fontdescfooter;
}

/* Footer*/
.row {
  display: flex;
  flex-wrap: wrap;
  max-width: 1170px;
  margin: auto;
}

/* Footer */
.footer {
  background-color: #786337;
  bottom: 0;
  width: 100%;
}

/* Footer */
.footer-col img {
  width: 115px;
  height: 100px;
  margin-left: 15px;
  margin-bottom: 13px;
  padding-bottom: 0px;
}

/* Footer */
.footer-col {
  width: 25%;
  padding: 0 15px;
  margin-top: 30px;
}

/* Footer */
.footer-col h4 {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  font-family: allfont;
  text-transform: capitalize;
  margin-bottom: 35px;
  position: relative;
}

/* Footer */
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

/* Footer */
.footer-col ul li a {
  font-size: 16px;
  font-family: font-desc-foot;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  display: block;
  transition: all 0.3s ease;
}

/* Footer */
.footer-col ul p {
  font-size: 16px;
  font-family: font-desc-foot;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
}

/* Footer */
.footer-col ul li a:hover {
  color: #005ea1;
  padding-left: 8px;
}

/* Footer */
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 0px 10px 10px 0;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: white;
}

/* Footer */
.footer-col.social-links img.active,
.footer-col .social-links img:hover {
  background-color: #c2c2c2;
}

/* Footer */
.footer-bottom hr {
  border: 0;
  height: 1px;
  margin-bottom: 5px;
  /* margin-top: ; */
  background: rgb(255, 217, 192);
  background-image: rgb(246, 176, 128);
}

/* Footer */
.footer-bottom p {
  font-family: font-desc-foot;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-family: Lucida Sans Unicode;
  padding: 10px 0px;
  padding-top: 7px;
}

/* Footer */
@media (max-width: 600px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 600px) {
  .footer-col {
    width: 100%;
  }
}

@media screen and (max-width: 820px) {
  .logo1 {
    display: block;
    width: 70px;
    height: 60px;
    margin-left: 20px;
  }
  .logo {
    display: none;
  }
  .navbar a {
    display: none;
  }
  .navbar button {
    display: none;
  }
  .navbar .shopping {
    display: none;
  }
  .header .navbarbutton1 {
    display: block;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .dropdown-menu {
    display: block;
  }
}
