/* Navigation Bar */
.header {
    position: fixed;
    width: 100%;
    padding: 10px;
    background-color: #f6f4f3;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    align-items: center;
} 

/* Button Navigation Bar */
.navbar button{
    font-size: 18px;
    font-family : "allfont"; 
    color: #786337;
    text-decoration: none;
    font-weight: 500;
    margin-left: 25px;
    margin-right: 20px;
    border: 0;
}

.navbar button img{
    width: 30px;
    height: 30px;
    margin-bottom: -5px;
    border: none;
  }

.navbar .logout{
    width: 20px;
    height: 20px;
    color: #786337;
    text-align: center;
}

/* Animation Button Navigation Bar */
.navbar button.active,
.navbar button:hover{
    font-weight: bolder;
    color: #C7A55B;
}
/* Logo */
.logo{
    display: inline-block;
    float: left;
    width: 210px;
    height: 70px;
}

/* Section Carousel */
.image img{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
}

/* Login Pop Up */
.popup {
	position: absolute;
	top: -150%;
	left: 50%;
	opacity: 0;
	transform: translate(-50%,-50%) scale(1.25);
	width: 380px;
	padding: 20px 30px;
	background: #fff;
	box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
	border-radius: 10px;
	transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms, transform 200ms ease-in-out 0ms;

}			
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

section{
    padding: 100px 0px 50px 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    background: none;
    animation: fadeInUp 2s ease;

    position: relative;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f6f4f3;
}

#container{
    min-height: 100%;
    position: relative;
}

/* Font Custom */
@font-face {
    font-family: allfont;
    src: url(https://kampus-merdeka-software-engineering.github.io/FE-Jayapura-2/Assets/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: font-desc-foot;
    src: url(https://kampus-merdeka-software-engineering.github.io/FE-Jayapura-2/Assets//Montserrat-Medium.ttf);
}

body{
    height: 100vh;
    background-color: #f6f4f3;    
    font-family: allfont;
}
.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #786337;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: #786337;
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80PX;
    margin-right: 10px;

}
/* Footer */
.footer-bottom p {
    font-family: font-desc-foot;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: Lucida Sans Unicode;
    padding: 10px 0px;
    padding-top: 7px;
}

/* Footer */
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}
/* SideCart
.sidecart {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    background-color: #f1e1bf;
    box-shadow: -10px 0 15px var(#f6f4f3);
}

.cart_content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

Cart Header
.cart_header {
    padding: 1rem;
    border-bottom: 1px solid var(--#c2c2c2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_title {
    position: relative;
}

.header_title span {
    position: absolute;
    top: -5px;
    right: -20px;
    width: 20px;
    height: 20px;
    background-color: var(red);
    border-radius: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart_header .close_btn {
    font-size: 2rem;
    cursor: pointer;
    transition: transform 0,2s ease;
}

.cart_header .close_btn:hover {
    transform: scale(1.1);
}

Cart Items
.cart_items {
    flex: 1;
    overflow-x: hidden;
}

Cart Actions
.cart_actions {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-top: 1px solid var(--light-gray);
    box-shadow: 0 -5px 10px var(--light-gray);
}

.cart_actions .subtotal {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
}

.cart_actions .button {
    border: none;
    background-color: #000;
    color: #fff;
    border-radius: 15px;
    padding: 10px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}

.cart_actions button:nth-of-type(2) {
    background-color: var(--accent-color);
} */