* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* Font Custom */
@font-face {
    font-family: allfont;
    src: url(../Assets/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: font-desc-foot;
    src: url(../Assets//Montserrat-Medium.ttf);
}


body {
    height: 100vh;
    background-color: #f6f4f3;
    font-family: allfont;
    align-items: center;

}

/* Navigation Bar */
.header {
    position: fixed;
    width: 100%;
    padding: 10px;
    background-color: #f6f4f3;
    display: flex;
    justify-content: space-between;
    z-index: 1001;
    align-items: center;
}

/* Button Navigation Bar */
.navbar .navbarbutton{
    font-size: 18px;
    font-family: "allfont";
    color: #786337;
    text-decoration: none;
    font-weight: 500;
    margin-left: 25px;
    margin-right: 20px;
    border: none;
    cursor: pointer;
}

/* Animation Button Navigation Bar */
.navbar .navbarbutton.active,
.navbar .navbarbutton:hover {
    font-weight: bolder;
    color: #C7A55B;
    background-color: none;
}

/* Logo */
.logo {
    display: inline-block;
    /*   float: left; */
    width: 210px;
    height: 70px;
}

/* Login Pop Up */
.popup {
    z-index: 1000;
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 380px;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms, transform 200ms ease-in-out 0ms;
}

/* Login Pop Up */
.popup.active {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms, transform 200ms ease-in-out 0ms;
}

/* Login Pop Up */
.popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}

/* Login Pop Up */
.popup .form h2 {
    text-align: center;
    color: #222;
    margin: 10px 0px 20px;
    font-size: 25px;
}

/* Login Pop Up */
.popup .form .form-element {
    margin: 15px 0px;
}

/* Login Pop Up */
.popup .form .form-element label {
    font-size: 14px;
    color: #222;
}

/* Login Pop Up */
.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="password"] {
    font-family: allfont;
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

/* Login Pop Up */
.popup .form .form-element input[type="checkbox"] {
    font-family: allfont;
    margin-right: 5px;
}

/* Login Pop Up */
.popup .form .form-element button {
    font-family: allfont;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    background: #785B35;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
}

/* Login Pop Up */
.popup .form .form-element p {
    display: inline;
    font-size: 15px;
    color: black;
}

/* Login Pop Up */
.popup .form .form-element a {
    display: inline;
    padding: 0 5px;
    text-align: right;
    font-size: 15px;
    color: #1a79ca;
    text-decoration: none;
    font-weight: 600;
}
.heading h1 {
    padding: 50px;
    padding-left: 90px;
    font-size: 30px;
    font-weight: bold;
    background-image: url('/Assets/p&P.jpeg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
    color: #eee;
    font-family: font-desc-foot;
    line-height: 1.5;
    text-align: left;
    animation: fadeInUp 2s ease;
  }

section{
    padding: 100px 0px 50px 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    background: none;
    animation: fadeInUp 2s ease;

    position: relative;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f6f4f3;
}

/* section::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color:#786337;
} */

section .container{
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    /* display: flex; */
    z-index: 1000;
    justify-content: center;
}

section .container .contactinfo {
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background-color: #786337;
    z-index: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

section .container .contactinfo h2{
    color: white;
    font-size: 24px;
    font-weight: 500;
}

section .container .contactinfo .info{
    position: relative;
    margin: 20px 0;
}

section .container .contactinfo .info li{
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}

section .container .contactinfo .info li span:nth-child(1){
    width: 30px;
    min-width: 30px;
}

section .container .contactinfo .info li span:nth-child(1) img{
    max-width: 100%;
    filter: invert(1);
    opacity: 0.5;
}

section .container .contactinfo .info li span:nth-child(2){
    color: white;
    margin-left: 10px;
    font-weight: 300;
    opacity: 0.5;
}

section .container .contactinfo .info li span:nth-child(1) img, section .container .contactinfo .info li span:nth-child(2){
    opacity: 0.5;
}

section .container .contactinfo .sci img{
    width: 30px;
    height: 30px;
}

section .container .contactinfo .sci{
    position: relative;
    display: flex;
}

section .container .contactinfo .sci li {
    list-style-type: none;
    margin-right: 15px;
}

section .container .contactinfo .sci li a {
    text-decoration: none;
}

section .container .contactinfo .sci li a img {
    filter: invert(1);
    opacity: 0.5;
}

section .container .contactinfo .sci li:hover a img {
    opacity: 1;
}

section .container .contactform{
    position: absolute;
    padding: 50px 50px;
    background: #f6f4f3;
    /* margin-left: 150px; */
    padding-left: 50px;
    /*   */
    width: 100%;
    height: 100%;
    /* box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5); */
}

section .container .contactform h2 {
    color: #786337;
    font-size: 24px;
    font-weight: 500;
}

section .container .contactform .formbox{
    position: relative;
    display: flex;
    justify-content:space-between ;
    flex-wrap: wrap;
    padding-top: 30px;
}

section .container .contactform .formbox .inputbox{
    position: relative;
    margin: 0 0 35px 0;
}

section .container .contactform .formbox .inputbox.w50{
    width: 47%;
}

section .container .contactform .formbox .inputbox.w100{
    width: 100%;
}

section .container .contactform .formbox .inputbox input, section .container .contactform .formbox .inputbox textarea {
    width: 100%;
    padding: 5px 0;
    resize: none;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    background-color: #f6f4f3;
    border: none;
    border-bottom: 1px solid #777;
    outline: none;
}

section .container .contactform .formbox .inputbox textarea{
    min-height: 120px;
}

section .container .contactform .formbox .inputbox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    pointer-events: none;
}
section .container .contactform .formbox .inputbox input:focus ~ span, section .container .contactform .formbox .inputbox textarea:focus ~span, section .container .contactform .formbox .inputbox input:valid ~ span, section .container .contactform .formbox .inputbox textarea:valid ~span {
    transform :translateY(-20px);
    font-weight: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #ff568c;
}

section .container .contactform .formbox .inputbox input[type="submit"]{
    position: relative;
    cursor: pointer;
    background: #786337;
    color: #ffff;
    border: none;
    max-width: 150px;
    padding: 12px;
}
section .container .contactform .formbox .inputbox input[type="submit"]:hover{
    background: #ff568c;
}

.founder{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.wrapper .title{
    text-align: center;
}

.title h4{
    display: inline-block;
    padding: 20px;
    color: #585757;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 1.2px;
    word-spacing: 5px;
    border: 1px solid;
    /* border-radius: 15px; */
    text-transform: uppercase;
    backdrop-filter:blur(15px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
}

.wrapper .card_container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}

.card_container .card{  
    position: relative;
    width: 300px;
    height: 400px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0 30px 30px -20px rgba(0, 0, 0, 1) inset 0 0 0 1000px rgba(67,52,109, .6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .imbBx, .imbBx img{
    width: 100%;
    height: 100%;
}

.card .content{
    position: absolute;
    bottom: -160px;
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(15px);
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    /* border-radius: 15px; */
    transition: bottom 0.5s;
    transition-delay: 0.65s;
}

.card:hover .content{
    bottom: 0px;
    transition-delay: 0s;
}

.content .contentBx h3{
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 15px;
    line-height: 1.1em;
    transition: 0.5s;
    transition-delay: 0.6s;
    opacity: 0;
    transform: translateY(-20px);
}

.card:hover .content .contentBx h3{
    transform: translateY(0);
    opacity: 1;
    
}
.content .contentBx h3 span{
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}

.content .sci{
    position: relative;
    bottom: 10px;
    display: flex;
    justify-content: center;
}

.content .sci li{
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
    transition-delay: calc(0.2s * var(--i));
}

.card:hover .content .sci li{
    transform: translateY(0);
    opacity: 1;
}

.content .sci li a {
    color: #fff;
    font-size: 24px;
}
/* Footer */
.footer {
    line-height: 1.5;
    font-family: fontdescfooter;
}

/* Footer */
.row {
    display: flex;
    flex-wrap: wrap;
    max-width: 1170px;
    margin: auto;
}

/* Footer */
.footer {
    background-color: #786337;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Footer */
.footer-col img {
    width: 115px;
    height: 100px;
    margin-left: 20px;
    margin-bottom: 13px;
    padding-bottom: 0px;
}

/* Footer */
.footer-col {
    width: 25%;
    padding: 0 15px;
    margin-top: 30px;
}

/* Footer */
.footer-col h4 {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    font-family: allfont;
    text-transform: capitalize;
    margin-bottom: 35px;
    position: relative;
}

/* Footer */
.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

/* Footer */
.footer-col ul li a {
    font-size: 16px;
    font-family: font-desc-foot;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #ffffff;
    display: block;
    transition: all 0.3s ease;
}

/* Footer */
.footer-col ul p {
    font-size: 16px;
    font-family: font-desc-foot;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #ffffff;
}

/* Footer */
.footer-col ul li a:hover {
    color: #005ea1;
    padding-left: 8px;
}

/* Footer */
.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0px 10px 10px 0;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
}

/* Footer */
.footer-col.social-links img.active,
.footer-col .social-links img:hover {
    background-color: #c2c2c2;
}

/* Footer */
.footer-bottom hr {
    border: 0;
    height: 1px;
    margin-bottom: 5px;
    /* margin-top: ; */
    background: rgb(255, 217, 192);
    background-image: rgb(246, 176, 128)
}

/* Footer */
.footer-bottom p {
    font-family: font-desc-foot;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: Lucida Sans Unicode;
    padding: 10px 0px;
    padding-top: 7px;
}

/* Footer */
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

