* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
  
/* Font Custom */
@font-face {
    font-family: allfont;
    src: url(https://kampus-merdeka-software-engineering.github.io/FE-Jayapura-2/Assets/Montserrat-SemiBold.ttf);
}
  
@font-face {
    font-family: font-desc-foot;
    src: url(https://kampus-merdeka-software-engineering.github.io/FE-Jayapura-2/Assets//Montserrat-Medium.ttf);
}
  
body {
    height: 100vh;
    background-color: #f6f4f3;
    font-family: allfont;
}
  
/* Navigation Bar */
  .header {
    position: fixed;
    width: 100%;
    padding: 10px;
    background-color: #f6f4f3;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    align-items: center;
}
  
/* Logo */
.logo {
    display: inline-block;
    width: 210px;
    height: 70px;
}

/* Logo */
  .logo1 {
    display: none;
}
  
/* Button Navigation Bar */
.navbar .navbarbutton {
    font-size: 18px;
    font-family: "allfont";
    color: #786337;
    text-decoration: none;
    font-weight: 500;
    margin-left: 25px;
    margin-right: 20px;
    border: none;
    cursor: pointer;
}

.navbar button img{
  width: 30px;
  height: 30px;
  margin-bottom: -5px;
  border: none;
}
  
/* Animation Button Navigation Bar */
.navbar .navbarbutton.active,
.navbar .navbarbutton:hover {
    font-weight: bolder;
    color: #c7a55b;
    background-color: none;
}
  
/* List Mobile */
.header .navbarbutton1 {
    color: #786337;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: none;
    border: none;
    display: none;
}
  
/*Drop Down Menu */
.dropdown-menu {
    position: fixed;
    margin-top: 40px;
    display: none;
    position: absolute;
    top: 40px;
    height: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    background-color: #786337;
    overflow: hidden;
    z-index: 1001;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
  
/*Drop Down Menu */
.dropdown-menu.open {
    position: fixed;
    width: 100%;
    height: 210px;
}
  
/*Drop Down Menu */
.dropdown-menu a {
    padding: 0.7rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
/*Drop Down Menu */
.dropdown-menu .navbarbutton:hover {
    background-color: #cd7416e8;
}

/* Privacy & Policy */
section{
    padding: 100px 0px 50px 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    background: none;
}

/* Privacy & Policy */
.form h1 {
    padding: 50px;
    padding-left: 90px;
    font-size: 30px;
    font-weight: bold;
    background-image: url('https://kampus-merdeka-software-engineering.github.io/FE-Jayapura-2/Assets/p&P.jpeg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
    color: #eee;
    font-family: font-desc-foot;
    line-height: 1.5;
    text-align: left;
    animation: fadeInUp 2s ease;
}

/* Privacy & Policy */
.forms p {
    margin: 20px 70px;
    padding: 20px;
    border: none;
    background-color: none;
    font-size: 20px;
    font-family: font-desc-foot;
    line-height: 1.5;
    color: #666;
    text-align: justify;
    border-radius: 15px;
    animation: fadeInUp 2s ease;
}

/* Privacy & Policy */
.privacy-policy h2 {
    margin: 0px 70px;
    padding: 20px;
    border: 1px solid #dcd7d7bc;
    margin-top: 0px;
    font-size: 23px;
    font-family: font-desc-foot;
    line-height: 1.5;
    background-color: #ddbd8ee0;
    color: #785B35;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    animation: fadeInUp 2s ease;
}

/* Privacy & Policy */
.privacy-policy p {
    margin-left: 70px;
    margin-right:70px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #dcd7d7bc;
    background-color: #e1c8a1be;
    font-size: 20px;
    font-family: font-desc-foot;
    line-height: 1.5;
    color: #786337;
    text-align: justify;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    animation: fadeInUp 2s ease;
}

/* Footer */
.footer {
    line-height: 1.5;
    font-family: fontdescfooter;
    background-color: #786337;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  /* Footer */
  .row {
    display: flex;
    flex-wrap: wrap;
    max-width: 1170px;
    margin: auto;
  }
  
  /* Footer */
  .footer-col {
    width: 25%;
    padding: 0 15px;
    margin-top: 30px;
  }
  
  /* Footer */
  .footer-col img {
    width: 115px;
    height: 100px;
    margin-left: 20px;
    margin-bottom: 13px;
    padding-bottom: 0px;
  }
  
  /* Footer */
  .footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0px 10px 10px 0;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
  }
  
  /* Footer */
  .footer-col.social-links img.active,
  .footer-col .social-links img:hover {
    background-color: #c2c2c2;
  }
  
  /* Footer */
  .footer-col h4 {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    font-family: Lucida Sans Unicode;
    text-transform: capitalize;
    margin-bottom: 35px;
    position: relative;
  }
  
  /* Footer */
  .footer-col ul p {
    font-size: 16px;
    font-family: font-desc-foot;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
  }
  
  /* Footer */
  .footer-col ul li a {
    font-size: 16px;
    font-family: font-desc-foot;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
  }
  
  /* Footer */
  .footer-col ul li a:hover {
    color: #005ea1;
    padding-left: 8px;
  }
  
  /* Footer */
  .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  
  /* Footer */
  .footer-bottom hr {
    border: 0;
    height: 1px;
    margin-bottom: 5px;
    background: rgb(255, 217, 192);
    background-image: rgb(246, 176, 128);
  }
  
  /* Footer */
  .footer-bottom p {
    font-size: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Lucida Sans Unicode;
    padding: 7px 0px;
  }
  
  /* Navigation Bar */
  @media screen and (max-width: 820px) {
    .logo1 {
      display: block;
      width: 70px;
      height: 60px;
      margin-left: 20px;
    }
    .logo {
      display: none;
    }
    .navbarbutton {
      display: none;
    }
    .header .navbarbutton1 {
      display: block;
      margin-right: 20px;
      margin-bottom: 20px;
    }
    .dropdown-menu {
      display: block;
    }
  }
  /* Privaxy & Policy */
  @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }
  
  /* footer */
  @media (max-width: 767px) {
    .footer-col {
      width: 50%;
      margin-bottom: 30px;
    }
  }
  
  /* footer */
  @media (max-width: 574px) {
    .footer-col {
      width: 100%;
    }
  }
  
  /* annimation */
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translatex(-50px);
    }
    100% {
      opacity: 1;
      transform: translatex(0px);
    }
  }

  