* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  /*  list-style: none; */
}

/* Font Custom */
@font-face {
  font-family: allfont;
  src: url(../Assets/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: font-desc-foot;
  src: url(../Assets//Montserrat-Medium.ttf);
}


body {
  height: 100vh;
  background-color: #f6f4f3;
  font-family: allfont;
}

/* Navigation Bar */
.header {
  position: fixed;
  width: 100%;
  padding: 10px;
  background-color: #f6f4f3;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
  align-items: center;
}

/* Button Navigation Bar */
.navbar .navbarbutton {
  font-size: 18px;
  font-family: "allfont";
  color: #786337;
  text-decoration: none;
  font-weight: 500;
  margin-left: 25px;
  margin-right: 20px;
  border: none;
  cursor: pointer;
}

/* Animation Button Navigation Bar */
.navbar .navbarbutton.active,
.navbar .navbarbutton:hover {
  font-weight: bolder;
  color: #C7A55B;
  background-color: none;
}

/* Logo */
.logo {
  display: inline-block;
  /*   float: left; */
  width: 210px;
  height: 70px;
}

/* Login Pop Up */
.popup {
  z-index: 1000;
  position: absolute;
  top: -150%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.25);
  width: 380px;
  padding: 20px 30px;
  background: #fff;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms, transform 200ms ease-in-out 0ms;
}

/* Login Pop Up */
.popup.active {
  top: 50%;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms, transform 200ms ease-in-out 0ms;
}

/* Login Pop Up */
.popup .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  background: #888;
  color: #eee;
  text-align: center;
  line-height: 15px;
  border-radius: 15px;
  cursor: pointer;
}

/* Login Pop Up */
.popup .form h2 {
  text-align: center;
  color: #222;
  margin: 10px 0px 20px;
  font-size: 25px;
}

/* Login Pop Up */
.popup .form .form-element {
  margin: 15px 0px;
}

/* Login Pop Up */
.popup .form .form-element label {
  font-size: 14px;
  color: #222;
}

/* Login Pop Up */
.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="password"] {
  font-family: allfont;
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 5px;
}

/* Login Pop Up */
.popup .form .form-element input[type="checkbox"] {
  font-family: allfont;
  margin-right: 5px;
}

/* Login Pop Up */
.popup .form .form-element button {
  font-family: allfont;
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  font-size: 16px;
  background: #785B35;
  color: #f5f5f5;
  border-radius: 10px;
  cursor: pointer;
}

/* Login Pop Up */
.popup .form .form-element p {
  display: inline;
  font-size: 15px;
  color: black;
}

/* Login Pop Up */
.popup .form .form-element a {
  display: inline;
  padding: 0 5px;
  text-align: right;
  font-size: 15px;
  color: #1a79ca;
  text-decoration: none;
  font-weight: 600;
}

:root {
  --main-radius: 5px;
  --main-padding: 5px;
}

.container {
  display: grid;
  height: 300vh;
  padding-top: 100px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 2.5fr 2.5fr 2.8fr 2.8fr;
  grid-template-areas:
    "nav nav nav nav"
    "main main main main"
    "sidebar content1 content2 content3"
    "sidebar content4 content5 content6"
    "sidebar content7 content8 content9"
    "content10 content10 content10 content10"
    "footer footer footer footer";
  grid-gap: 0.2rem;
}

nav.judul {
  background-image: url("/Assets/Semua Produk/batik judul.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  grid-area: nav;
  border-radius: var(--main-radius);
  padding: 225px;
  font-size: 30px;
  color: white;
  text-align: center;
  object-fit: cover;
}

main {
  grid-area: main;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

.describe {
  text-align: center;
  font-family: garamond, serif;
  font-size: 20px;
  margin: 20px;
  padding: 20px;
}

.point1 {
  font-size: 12px;
  text-align: center;
  list-style-type: none;
  color: #C08261;
  background-color: #eee;
}

.point1 li {
  display: inline-block;
  padding: 20px;
  margin-inline: 30px;
}

#sidebar {
  background: whitesmoke;
  grid-area: sidebar;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  line-height: 2;
  margin-left: 10px;
  margin-top: 30px;
  margin-right: 20px;
  padding: 50px;
}

#size {
  float: right;
}

#ptype {
  float: right;
}

#content1 {
  grid-area: content1;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  line-height: 1.5;
}

.b {
  width: 90%;
  float: left;
  margin: 2px;
  padding: 2px;
}

.img-desc {
  position: absolute;
  margin-top: 256px;
  transition: .5 ease;
}

.img-desc button {
  border: none;
  color: grey;
  padding: 20px 114px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  transition: .5 ease;
}

.img-desc :hover button {
  opacity: 1;
}

#content2 {
  grid-area: content2;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  line-height: 1.5;
}

#content3 {
  grid-area: content3;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  line-height: 1.5;
}

#content4 {
  grid-area: content4;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  line-height: 1.5;
}

#content5 {
  grid-area: content5;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  line-height: 1.5;
}

#content6 {
  grid-area: content6;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  line-height: 1.5;
}

#content7 {
  grid-area: content7;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  line-height: 1.5;
}

#content8 {
  grid-area: content8;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  line-height: 1.5;
}

#content9 {
  grid-area: content9;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content10 {
  grid-area: content10;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  text-align: center;
  padding-bottom: 50px;
  z-index: 1;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

h3 {
  color: #C08261;
}

/* pop up product */

.overlay {
  width: 0;
  height: 0;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  z-index: 9999;
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.25);
  overflow: auto;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}


.overlay:target {
  width: 90%;
  height: 80%;
  padding: 30px;
  margin-top: 20px;
  background: #fff;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms, transform 200ms ease-in-out 0ms;
  top: calc(50% + 30px);
}

.overlay h2 {
  font-size: 24px;
  color: #C08261;
  margin-bottom: 16em;
  margin-top: 50px;
  white-space: nowrap;
  text-align: center;
}

.overlay .close {
  position: absolute;
  top: 2%;
  right: 2%;
  margin-left: -15px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  background: #888;
  color: #eee;
  text-decoration: none;
  cursor: pointer;
}

.image-container {
  /*  text-align: left;
  align-items: center;*/
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 900px;
  height: 900px;
}

.gambar-produk1,
.gambar-produk2,
.gambar-produk3 {
  max-width: 60%;
  height: auto;
  margin: -230px;
  padding: 0%;
}

.gambar-produk2 {
  margin-left: -290px;
}

.gambar-produk3 {
  margin-left: -353px;
}

.overlay .product-description {
  position: absolute;
  top: 60%;
  left: 0;
  width: 100%;
  text-align: left;
  z-index: 2;
  padding: 10px;
  border-radius: 5px;
  margin: 20px;
  margin-top: 50px;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
  box-sizing: border-box;
  flex: 1;
  font-family: 'helvetica';
}


.product-description p {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: left;
}

.product-description button {
  background-color: #785B35;
  color: #f5f5f5;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 40px;
}

.product-description .my-list {
  margin: 30px;
  list-style-type: disc;
  color: black;
}

/* footer {
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  } */

/* Footer */
.footer {
  line-height: 1.5;
  font-family: fontdescfooter;
}

/* Footer */
.row {
  display: flex;
  flex-wrap: wrap;
  max-width: 1170px;
  margin: auto;
}

/* Footer */
.footer {
  background-color: #786337;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Footer */
.footer-col img {
  width: 115px;
  height: 100px;
  margin-left: 20px;
  margin-bottom: 13px;
  padding-bottom: 0px;
}

/* Footer */
.footer-col {
  width: 25%;
  padding: 0 15px;
  margin-top: 30px;
}

/* Footer */
.footer-col h4 {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  font-family: allfont;
  text-transform: capitalize;
  margin-bottom: 35px;
  position: relative;
}

/* Footer */
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

/* Footer */
.footer-col ul li a {
  font-size: 16px;
  font-family: font-desc-foot;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  display: block;
  transition: all 0.3s ease;
}

/* Footer */
.footer-col ul p {
  font-size: 16px;
  font-family: font-desc-foot;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
}

/* Footer */
.footer-col ul li a:hover {
  color: #005ea1;
  padding-left: 8px;
}

/* Footer */
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 0px 10px 10px 0;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: white;
}

/* Footer */
.footer-col.social-links img.active,
.footer-col .social-links img:hover {
  background-color: #c2c2c2;
}

/* Footer */
.footer-bottom hr {
  border: 0;
  height: 1px;
  margin-bottom: 5px;
  /* margin-top: ; */
  background: rgb(255, 217, 192);
  background-image: rgb(246, 176, 128)
}

/* Footer */
.footer-bottom p {
  font-family: font-desc-foot;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-family: Lucida Sans Unicode;
  padding: 10px 0px;
  padding-top: 7px;
}

/* Footer */
@media(max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}