* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  /*  list-style: none;*/
}

/* Font Custom */
@font-face {
  font-family: allfont;
  src: url(../Assets/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: font-desc-foot;
  src: url(../Assets//Montserrat-Medium.ttf);
}

body {
  height: 100vh;
  background-color: #f6f4f3;
  font-family: allfont;
}

/* Navigation Bar */
.header {
  position: fixed;
  width: 100%;
  padding: 10px;
  background-color: #f6f4f3;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
  align-items: center;
}

/* Logo */
.logo {
  display: inline-block;
  width: 210px;
  height: 70px;
  font-family: font-logo;
}

/* Logo */
.logo1 {
  display: none;
}

/* Button Navigation Bar */
.navbar .navbarbutton {
  font-size: 18px;
  font-family: "allfont";
  color: #786337;
  text-decoration: none;
  font-weight: 500;
  margin-left: 25px;
  margin-right: 20px;
  border: none;
  cursor: pointer;
}
.navbar button img{
  width: 30px;
  height: 30px;
  border: none;
  
}

/* Animation Button Navigation Bar */
.navbar .navbarbutton.active,
.navbar .navbarbutton:hover {
  font-weight: bolder;
  color: #c7a55b;
  background-color: none;
}

/* List Mobile */
.header .navbarbutton1 {
  color: #786337;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: none;
  border: none;
  display: none;
}

/*Drop Down Menu */
.dropdown-menu {
  position: fixed;
  margin-top: 40px;
  display: none;
  position: absolute;
  top: 40px;
  height: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  background-color: #786337;
  overflow: hidden;
  z-index: 1001;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/*Drop Down Menu */
.dropdown-menu.open {
  position: fixed;
  width: 100%;
  height: 210px;
}

/*Drop Down Menu */
.dropdown-menu a {
  padding: 0.7rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Drop Down Menu */
.dropdown-menu .navbarbutton:hover {
  background-color: #cd7416e8;
}

:root {
  --main-radius: 5px;
  --main-padding: 5px;
}

.container {
  /* padding-top: 100px; */
  position: relative;
}

.judul{
  text-align: center;
  font-size: 20px;
  position: relative;
  top: 386px;
  /* left: 550px; */
  padding: 5px;
  color: #453E3B;
  background-color: rgb(255, 217, 192, 0.5);
  z-index: 999;
}


main {
  grid-area: main;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

.describe {
  text-align: center;
  font-family: "font-desc-foot";
  font-size: 20px;
  margin: 20px;
  padding: 20px;
}

.point1 {
  font-size: 12px;
  text-align: center;
  list-style-type: none;
  color: #c08261;
  background-color: #eee;
}

.point1 li {
  display: inline-block;
  padding: 10px;
  margin-inline: 30px;
}

.point1 p {
  font-family: "font-desc-foot";
  font-size: 12px;
}

.point1 .fa {
  font-size: 50px;
  color: #666;
  line-height: 1.1;
}
.container2 {
  width: 1000px;
  margin: auto;
  transition: 0.5s;
  font-size: 15px;
  font-style: italic;
  color: #786337;
  display: block;
}
.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  margin-top: 50px;
}
.list .item {
  text-align: center;
  letter-spacing: 1px;
}
.list .item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.list .item .title {
  font-weight: 600;
}
.list .item .price {
  margin: 10px;
}

.list .item button{
  background-color: #1C1F25;
  color: #fff;
  width: 100%;
  padding: 10px;
}

.card{
  position: fixed;
  top:0;
  left: 100%;
  width: 500px;
  background-color: #453E3B;
  height: 100vh;
  transition: 0.5s;
}
.active .card{
  left: calc(100% - 500px);
}
.active .container{
 transform: translateX(-200px);
} 
.card h1{
  color: #9f8b3a;
  font-weight: 100;
  margin: 0;
  padding: 0 20px;
  height: 80px;
  display: flex;
  align-items: center;
}
.card .checkOut{
  position: absolute;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}
.card .checkOut div{
  background-color: #ae9c52;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}
.card .checkOut div:nth-child(2){
  background-color: #1C1F25;
  color: #fff;
}
.listCard li{
  display: grid;
  grid-template-columns: 100px repeat(3, 1fr);
  color: #fff;
  row-gap: 10px;
}
.listCard li div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.listCard li img{
  width: 90%;
}
.listCard li button{
  background-color: #fff5;
  border: none;
}
.listCard .count{
  margin: 0 10px;
}

/* Overlay Modal */

/* pop up product */
.overlay {
  width: 0;
  max-height: 90vh;
  position: fixed;
  top: -150%;
  left: 50%;
  margin-top: 35px;
  transform: translate(-50%, -50%);
  z-index: 1000;
  text-align: center;
  padding: 30px;
  z-index: 999;
  opacity: 0;
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "content-image product-content"
    "description description";
  grid-template-rows: auto auto auto;
  transform: translate(-50%, -50%) scale(1.25);
  background: #fff;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

/* Login Pop Up */
.overlay.active {
  width: 95%;
  max-height: 100%;
  padding: 30px;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  top: 50%;
  opacity: 1;
  transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms, transform 200ms ease-in-out 0ms;
}

.closeOverlay {
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  background: #888;
  color: #eee;
  text-align: center;
  line-height: 15px;
  border-radius: 15px;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 5px;
}


.popup-title {
  grid-area: product-content;
  max-height: 90px;
  text-align: left;
  overflow: hidden;
  margin-left: -155px;
  margin-top: 20px;
}

.popup-title h2 {
  font-size: 24px;
  color: black;
  white-space: nowrap;
}

.popup-title h3 {
  margin-left: 1px;
  margin-top: 5px;
  color: #785B35;
}

.popup-checkout p {
  display: flex;
  align-items: center;
}

.content-image {
  grid-area: content-image;
  display: flex;
  height: auto;
  max-width: 100%;
  margin-top: 20px;
  max-width: 100%;
}

.image-container {
  width: 400px;
  height: 400px;
  max-width: 100%;
  text-align: left;
}

.gambar-produk1 {
  width: 100%;
  float: left;
  margin: 2px;
  padding: 2px;
}

.gambar-produk2 {
  width: 50%;
  display: block;
  margin: 2px;
  padding: 2px;
}

.radio-container {
  text-align: left;
  margin-top: 50px;
  margin-left: -152px;
  top: 50%;
  max-height: 10%;
  padding: -80;
}

.radio-container p {
  margin-right: 224px;
  white-space: nowrap;
}

.radio-container label {
  flex: 1;
  margin-right: 10px;

}

.custom-radio {
  display: inline-block;
  cursor: pointer;
  padding: 1px;
}

.custom-radio input[type="radio"] {
  display: none;
}

.custom-radio .radio-label {
  position: relative;
  width: 36px;
  height: 24px;
  border: 1px solid #d1d0d0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.custom-radio:hover .radio-label {
  border-color: #C08261;
}

.custom-radio input[type="radio"]:checked+.radio-label {
  border: 1.5px solid #C08261;
  background-color: rgba(192, 130, 97, 0.1);
}

.custom-radio.disabled {
  cursor: not-allowed;
}

.custom-radio.disabled .radio-label {
  background-color: #ccc;
  pointer-events: none;
}

.quantity-container {
  padding: 0;
  width: 260px;
  margin-top: 20px;
}

#quantity {
  text-align: center;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 40px;
  margin-left: 145;
}

#quantity-increase-btn,
#quantity-decrease-btn {
  text-align: center;
  color: #0c0b0b;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 30px;
  margin-left: 5px;
}

.product-content .checkout {
  position: relative;
  width: 28%;
  background-color: #C08261;
  color: #f5f5f5;
  border: none;
  border-radius: 6px;
  padding: 6px 20px;
  margin-right: 350px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 18px;
  overflow: hidden;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.product-content .checkout::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #785B35;
  transition: left 0.3s ease;
  z-index: -1;
}

.product-content .checkout::after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: #785B35;
  transition: left 0.3s ease;
  z-index: -1;
}

.product-content .checkout:hover {
  background-color: transparent;
}

.product-content .checkout:hover::before {
  left: 0;
}

.product-content .checkout:hover::after {
  left: -100%;
}
/* End Overlay Modal */



/* footer {
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  } */

/* Footer */
.footer {
  line-height: 1.5;
  font-family: fontdescfooter;
  background-color: #786337;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Footer */
.row {
  display: flex;
  flex-wrap: wrap;
  max-width: 1170px;
  margin: auto;
}

/* Footer */
.footer-col img {
  width: 115px;
  height: 100px;
  margin-left: 20px;
  margin-bottom: 13px;
  padding-bottom: 0px;
}

/* Footer */
.footer-col {
  width: 25%;
  padding: 0 15px;
  margin-top: 30px;
}

/* Footer */
.footer-col h4 {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  font-family: allfont;
  text-transform: capitalize;
  margin-bottom: 35px;
  position: relative;
}

/* Footer */
.footer-col ul li {
  list-style: none;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

/* Footer */
.footer-col ul li a {
  font-size: 16px;
  font-family: font-desc-foot;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  display: block;
  transition: all 0.3s ease;
}

/* Footer */
.footer-col ul p {
  font-size: 16px;
  font-family: font-desc-foot;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
}

/* Footer */
.footer-col ul li a:hover {
  color: #005ea1;
  padding-left: 8px;
}

/* Footer */
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 0px 10px 10px 0;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: white;
}

/* Footer */
.footer-col.social-links img.active,
.footer-col .social-links img:hover {
  background-color: #c2c2c2;
}

/* Footer */
.footer-bottom hr {
  border: 0;
  height: 1px;
  margin-bottom: 5px;
  background: rgb(255, 217, 192);
  background-image: rgb(246, 176, 128);
}

/* Footer */
.footer-bottom p {
  font-family: font-desc-foot;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-family: Lucida Sans Unicode;
  padding: 10px 0px;
  padding-top: 7px;
}

/* Footer */
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

/* Navigation Bar */
@media screen and (max-width: 820px) {
  .logo1 {
    display: block;
    width: 70px;
    height: 60px;
    margin-left: 20px;
  }
  .logo {
    display: none;
  }
  .navbarbutton {
    display: none;
  }
  .header .navbarbutton1 {
    display: block;
    margin-right: 20px;
  }
  .dropdown-menu {
    display: block;
  }
}


@media screen and (min-width: 769px) and (max-width: 1278px) {
  .container {
    padding-top: 80px;
    position: relative;
  }

  .judul {
      text-align: center;
      font-size: 20px;
      position: relative;
      top: 386px;
  }

.describe {
  text-align: justify;
  font-family: "font-desc-foot";
  font-size: 20px;
  margin: 20px;
  padding: 20px;
}
  .container2 {
    width: 770px;
    margin: auto;
    transition: 0.5s;
    font-size: 15px;
    display: block;
  }
  .list {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 50px;
  }
  .list .item img {
    width: 89%;
    height: 286px;
    object-fit: cover;
  }
  .point1 li {
    display: inline-block;
    padding: 10px;
    margin-inline: 0px;
  }
  .overlay.active {
    width: 86%;
  }

}

@media screen and (min-width: 565px) and (max-width: 768px) {
  .container {
    padding-top: 50px;
    position: relative;
  }
  .judul {
    font-size: 8px;
    position: absolute;
    top: 243px;
    left: 292px;
    padding: 5px;
  }
.describe {
  text-align: justify;
  font-family: "font-desc-foot";
  font-size: 15px;
  margin: 20px;
  padding: 20px;
}
  .container2 {
    width: 565px;
    margin: auto;
    transition: 0.5s;
    font-size: 15px;
    display: block;
  }
  .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 50px;
}
  .list .item img {
    width: 86%;
    height: 237px;
    object-fit: cover;
}
.overlay.active {
  width: 81%;
  max-height: 73%;
}
.image-container {
  width: 294px;
  height: 283px;
  max-width: 46%;
  text-align: left;
}
.product-content .checkout {
  font-size: 15px;
}
}
@media screen and (min-width: 265px) and (max-width: 564px) {
  .container {
    padding-top: 70px;
    position: relative;
  }
  .judul {
    font-size: 5px;
    position: absolute;
    top: 122px;
    left: 90px;
    padding: 5px;
  }
  .container2 {
    width: 50px;
    margin: 64px
  }
  .describe{
    font-size: 8px;
    margin: 4px;
    padding: 5px;
  }
  .point1 li {
    display: inline-block;
    padding: 5px;
    margin-inline: 24px;
}
  .point1{
    font-size: 5px;
  }
  .point1 p {
    font-family: "font-desc-foot";
    font-size: 8px;
}
.point1 .fa {
  font-size: 23px;
  line-height: 1.1;
}
.list .item img {
  width: 227%;
  height: 190px;
  object-fit: cover;
}
.list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  margin-top: 50px;
}
.list .item .title {
  font-size: 10px;
}
.list .item .price {
  margin: 8px;
  font-size: 10px;
}
.overlay.active {
  width: 77%;
  max-height: 46%;
  padding: 30px;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  top: 47%;
  opacity: 1;
}
.image-container {
  width: 210px;
  height: 356px;
  max-width: 38%;
  text-align: left;
}
.popup-title h2 {
  font-size: 14px;
}
.radio-container {
  font-size: 12px;
  text-align: left;
  margin-top: 23px;
  margin-left: -152px;
  top: 50%;
  max-height: 10%;
  padding: -80;
}
.product-content .checkout {
  font-size: 11px;
}
.popup-title h3 {
  font-size: 10px;
}
}


/* footer */
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

/* footer */
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
